<section class="text-center">
    {{ with .Site.Params.social.github }}
    <a href="https://github.com/{{.}}"><i class="fab fa-github social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.linkedin }}
    <a href="https://linkedin.com/in/{{.}}"><i class="fab fa-linkedin social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.xing }}
    <a href="https://www.xing.com/profile/{{.}}"><i class="fab fa-xing social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.medium }}
    <a href="https://www.medium.com/@{{.}}"><i class="fab fa-medium social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.twitter }}
    <a href="https://www.twitter.com/{{.}}"><i class="fab fa-twitter social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.instagram }}
    <a href="https://www.instagram.com/{{.}}"><i class="fab fa-instagram social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.facebook }}
    <a href="https://www.facebook.com/{{.}}"><i class="fab fa-facebook social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.telegram }}
    <a href="https://telegram.me/{{.}}"><i class="fab fa-telegram social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.steam }}
    <a href="https://steamcommunity.com/id/{{.}}"><i class="fab fa-steam social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.weibo }}
    <a href="https://www.weibo.com/{{.}}"><i class="fab fa-weibo social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.zhihu }}
    <a href="https://www.zhihu.com/people/{{.}}"><i class="fab fa-zhihu social-icon" aria-hidden="true"></i></a>
    {{ end }}
</section>
